<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://notabug.org/tizen/mapo" version="1.2.4" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="mapo000000.mapo" package="mapo000000" required_version="2.4"/>
    <author href="https://notabug.org/tizen/mapo" email="rzr@gna.org">
	Philippe Coval
	</author>
    <content src="index.html"/>
    <description>
		Mapo is a geolocation application for the Tizen OS,
		developed with
		HTML5/CSS3 an jQuery.

		https://notabug.org/tizen/mapo</description>
    <feature name="http://tizen.org/api/application.read"/>
    <feature name="http://tizen.org/api/filesystem"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <license href="https://spdx.org/licenses/GPL-3.0+">GPL-3.0+</license>
    <name>mapo</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth" />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.write"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.read"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.write"/>
    <tizen:profile name="mobile"/>
</widget>
