<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://gitorious.org/tizen/mapo" version="1.3.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="mapoXtizen.mapo" package="mapoXtizen" required_version="2.3"/>
    <author href="https://gitorious.org/mapo" email="rzr@gna.org">Philippe Coval</author>
    <content src="index.html"/>
    <description>
Mapo is a geolocation application for the Tizen OS, developed with HTML5/CSS3 an jQuery.

http://gitorious.org/mapo
</description>
    <feature name="http://tizen.org/api/application.read"/>
    <feature name="http://tizen.org/api/filesystem"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png" height="117" width="117"/>
    <license href="https://spdx.org/licenses/GPL-3.0+">GPL-3.0+</license>
    <name>mapo</name>
    <tizen:profile name="mobile"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.write"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.read"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.write"/>
    <tizen:setting screen-orientation="portrait" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
