<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/mapo" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="xqV5JPggpX.mapo" package="xqV5JPggpX" required_version="2.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/api/application.read"/>
    <icon src="icon.png"/>
    <name>mapo</name>
</widget>
